:root {
	--link-color:#f7e7d9;
	--maroon:  #890417;
	--light: #ddd;
	--body-font-style: "monospace", "Gill Sans", sans-serif;
	--thumnail-maroon: #ac5757;
	--blue-light: #ced4da;
}
header {
	text-align: center;
	position: relative;
	height: 400px;
	background: url(../images/actor.jpg) rgba(0, 0, 0, 0.5);
	background-blend-mode: multiply ;
	border: 20px solid #010101;
}
header h1.actortext {
	color: transparent;
	font-size: 5rem;
	position: absolute; 
    inset: 0;
    padding: 20px;
    color: #fbeeef; 
    font-family: sans-serif; 
    font-weight: bold; 
}
.section-middle {
	display: flex;
	flex-direction: column;
	
}
.side-table{
	padding-top: 20px;
	padding-bottom: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.div-container {
	padding: 1rem;
	border: 1px solid var(--light);
	border-radius: 5px;
	margin-bottom: 1rem;
	/* background-color: var(--black-color); */
}
.div-container img {
	width: 100%;
}
.div-container button {
	padding: 0.5rem 1rem;
	background-color: var(--maroon);
	border: 1px solid var(--thumnail-maroon);
	border-radius: 5px;
	color: white;
	margin-top: 2rem;
}
