:root {
 --gray-50: #f8f9fa;
 --gray-100: #f1f3f5;
 --gray-200: #e9ecef;
 --gray-800: #343a40;

}

nav {
 padding: 0.75rem;
 border-bottom: 1px solid var(--gray-200);
}

ul {
 display: flex;
 justify-content: space-around;
}

ul > li {
 list-style-type: none;
}

ul > li > a {
 text-decoration: none;
 color: var(--gray-800);
}

ul > li > a:hover {
 text-decoration: underline;
}

.menu:hover .sub-menu {
 display: block;
}

.sub-menu {
 position: absolute;
 display: none;
 padding: 0.75rem 0.75rem 0.75rem;
 background: var(--gray-50);
 border-radius: 5px;
 border: 1px var(--gray-100) solid;
}

.sub-menu > li:nth-child(1)  {
 padding-top: 0;
}

.sub-menu > li  {
 padding: 0.5rem 0;
}

