body {
 max-width: 1140px;
 margin: auto;
}

h1 {
 text-align: center;
}

.image-container {
 width: 100%;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

figure {
 display: flex;
 justify-content: center;
 flex-direction: column;
 border: 1px solid #e9ecef;
 padding: 1rem;
 border-radius: 2px;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

figure > figcaption {
 padding-top: 1rem;
}

figure > img {
 width: 200px;
 height: 200px;
}