.login{
    background-color: #103283;
    width: 700px;
    margin: 100px auto;
    padding: 10px;
    border-radius: 15px;
}
form{
    width: 500px;
    margin: 100px auto;
    border: 2px solid black;
    background-color: #4472E0;
    border-radius: 30px;
}
.screen{
    background-color: #4472E0;
    text-align: center;
    border-radius: 20px;
    padding: 8px;
    font-weight: bold;
    font-size: 25px;
}
.name{
    width: 100%;
    margin: 15px auto;
}
label{
    display: block;
    padding: 20px;
    font-size: 25px;
}
input{
    width: 80%;
    padding: 10px;
    border: 1px solid #797979;
    font-size: 20px; 
    margin-left: 20px;
    border-radius: 10px;
}
button{
    margin: 20px;
    padding: 10px;
    width: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    background: linear-gradient(90deg, royalblue, lightgreen);
}
span{
    display: block;
    margin-left: 20px;
    color: red;
    font-style: italic;
}