
.container{
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 5px; 
}
header{
    border-bottom: 3px solid black;
    color: #eff5f4fb;
    text-align: center; 
    background-color: #0f463afb;
    padding-top: 10px;
}

.person {
    float: left;
    width: 140px;
    height: 140px;
    border: 3px solid white;
    border-radius: 50%;
}
.main_image{
    width: 99%;
    height: 300px;
    
}
.tagline{
    margin-top: 0.5em;
    margin-bottom: 00.5em;
    margin-left: 250px;
    margin-right: 2.5em;
    border-style: inset;
}

.person2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid whitesmoke;  
}

#name {
    text-align: center;
    padding-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

blockquote{
    font-weight: lighter;
    font-family: serif;
    text-align: center;
}

.aside-container{
    float: left;
    width: 200px;
    line-height: 30px;
    border-radius: 5%;
    padding: 8px;
    background-color: #ebf1e3;
}
.main-content{
    padding-left: 250px;
    margin-right: 100px;
    
}

.clearFloat{
    clear: right;
}

h1{
    color: #800d29; 
    font-family: cursive; 
}
blockquote{
    text-align: center;
    margin-left: 250px;
}
nav{
    padding: 20px 0; 
    text-align: right; 
}

nav a{
    text-align: right;
    font-size: 20px; 
    font-weight: italic;
    font-family: monospace; 
    color: #eff5f4fb; 
    text-decoration: none; 
    padding: 20px 20px; 
     
}

footer{
    border-top: 3px solid black;
    text-align: center; 
    font-weight: normal; 
    background-color: #0f463afb; 
    padding: 5px;
    margin-bottom: 1px;
    font-size: 15px; 
    color: #eff5f4fb; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
